*, *:before, *:after{
  margin: 0;
  padding: 0;
  direction: ltr;
  box-sizing: border-box;
}

body{
  background: rgb(238,174,202);
background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
  display: flex;
  justify-content: center;
  margin: 0;
  align-items:center;
  height:100vh;
}
html{
font-size: 16px;
line-height: 1.8;
}
.ArticleCopy{
font-family: "Helvetica Neue","Helvetica",Helvetica,Arial,sans-serif;
width: 80%;
margin:0 auto;
border: 1px solid #ddd;
padding: 3rem;
}
.ArticleCopy p {
  text-rendering: optimizeLegibility;
}
.ArticleCopy blockquote {
  border-radius: 3px;
  position: relative;  /*  <--- */
  font-style: italic;
  text-align: center;
  padding: 1rem 1.2rem;
  width: 80%;  /* create space for the quotes */
  color: #4a4a4a;
  margin: 1rem auto 2rem;
  color: #4a4a4a;
  background: #E8E8E8;
}
/* -- create the quotation marks -- */
.ArticleCopy blockquote:before,
.ArticleCopy blockquote:after{
  font-family: FontAwesome;
  position: absolute;
  /* -- inside the relative position of blockquote -- */
  top: 13px;
  color: #E8E8E8;
  font-size: 34px;
}
.ArticleCopy blockquote:before{
  content: "\f10d";
  margin-right: 13px;
  right: 100%;
}
.ArticleCopy blockquote:after{
  content: "\f10e";
  margin-left: 13px;
  left: 100%;  
  top: auto;
  bottom: 13px;
}

.myButton {
  position: absolute;
  top: 13px;
  left: 4px;
	background-color:#ffffff;
	border:3px solid #000000;
	display:inline-block;
	cursor:pointer;
	color:#000000;
	font-family:FontAwesome;
	font-size:17px;
	padding:13px 25px;
	text-decoration:none;
}
a {
  text-decoration: none;
}
.myButton:hover {
	background-color:#2f302e;
}
.myButton:active {
	position:relative;
	top:1px;
}